/* 공통영역  reset CSS */


/* 여백 초기화 */
body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,header,fieldset,legend,p,a,select,table,th,td,tr,textarea,button,form,figure,figcaption{margin:0; padding:0; box-sizing: border-box; }
img{object-fit: fill; border: none; margin: 0;}


a{text-decoration: none; color: black;}


li{list-style: none;}





